<!--@subject {{trans "%amount to use in our store" amount=$giftcard_amount}} 🥳 @-->
<!--@vars {
"var sender_name":"Sender name",
"var friend_name":"Friends name",
"var giftcard_code":"Giftcard code",
"var giftcard_amount":"Giftcard amount",
"var friend_message":"Friends message"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$friend_name}}</p>

<p>{{trans "%name has a gift for you!" name=$sender_name}} 🎁</p>

<p>{{trans "A giftcard with %amount to purchase in our store" amount=$giftcard_amount}}</p>

<p>{{trans "Use the code: %code" code=$giftcard_code}}</p>

<p>{{trans "Message from %name" name=$sender_name}}</p>

<p>{{trans "%message" message=$friend_message}}</p>

{{template config_path="design/email/footer_template"}}

