<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="bydn_giftcard" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Giftcard (by DN)</label>
            <tab>sales</tab>
            <resource>Bydn_Giftcard::giftcard_config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If disable, customer won't be able to purchase giftcards nor redeem giftcards in cart or checkout.</comment>
                </field>
                <field id="default_amounts" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Card default amounts</label>
                    <comment>When you create a new giftcard product, this will be the amounts configured. You can change it later during the product creation.</comment>
                </field>
            </group>
            <group id="emails" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email configuration</label>
                <!--
                <field id="send_by_email" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send the giftcard by email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, purchased giftcards will be sent by email. If disabled, the store manager will be responsible to send it by its own.</comment>
                </field>
                -->
                <field id="sender_email_identity" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="email_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Giftcard email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="expiration" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Expiration</label>
                <field id="single_use" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Single use</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, the giftcard can be used in one order only.</comment>
                </field>
                <field id="expire_cards" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Make giftcards to expire</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, giftcard will be expired after the configured time.</comment>
                </field>
                <field id="expiration_time" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Expiration time (in days)</label>
                    <comment>Introduce the number of days to expire cards. Changing this setting does not modify already purchased giftcards.</comment>
                    <depends>
                        <field id="expire_cards">1</field>
                    </depends>
                </field>
            </group>
            <group id="discounts" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Discounts</label>
                <field id="avoid_giftcard_with_giftcard" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Prevent purchasing giftcards with another giftcard</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If you make discounts on giftcards, set this to true.</comment>
                </field>
                <field id="avoid_discounts_on_giftcards" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Prevent applying discounts on giftcard products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enabling this ensures no one can apply a discount on a giftcard purchase.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
